
body{
    background-color: black;
}

.parent-div {
    position: relative;
    margin: auto;
    width: 35%;
    height: 456px;
    background-color: aqua;
    border-radius: 25px;
    margin-top: 15%;
    padding-top: 25px;
}

.align_center {
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dsplay-grid {
    display: grid;
}

.input-css{
    border-bottom: groove;
    display: flex;
}